In [324]:
import pandas as pd
import os
import numpy as np
from PIL import Image

In [282]:
!pwd

/Users/ziyuancui/Desktop/2019Winter/273/project/EmotionDetection/data_preprocess

In [283]:
base_path = '/Users/ziyuancui/Desktop/2019Winter/273/project/data/facial_expressions-master/'
label_file = base_path + 'data/legend.csv'
image_file = base_path + 'images'

In [284]:
df = pd.read_csv(label_file)

In [285]:
df.describe()

       user.id                    image  emotion
count    13690                    13690    13690
unique       5                    13682       15
top      dwdii  Kimi_Raikkonen_0002.jpg  neutral
freq      6667                        2     6717

In [286]:
df.head()

  user.id                            image   emotion
0     628  facial-expressions_2868588k.jpg     anger
1     628  facial-expressions_2868585k.jpg  surprise
2     628  facial-expressions_2868584k.jpg   disgust
3     628  facial-expressions_2868582k.jpg      fear
4   dwdii           Aaron_Eckhart_0001.jpg   neutral

### Number of Classes

In [287]:
df['emotion'].unique()

array(['anger', 'surprise', 'disgust', 'fear', 'neutral', 'happiness',
       'sadness', 'contempt', 'NEUTRAL', 'SADNESS', 'DISGUST', 'FEAR',
       'SURPRISE', 'ANGER', 'HAPPINESS'], dtype=object)

The total number of classes is 8.

### Number of Labels

In [288]:
df.describe()

       user.id                    image  emotion
count    13690                    13690    13690
unique       5                    13682       15
top      dwdii  Kimi_Raikkonen_0002.jpg  neutral
freq      6667                        2     6717

### Number of Images

In [289]:
images_dir = os.listdir(image_file)   

print(len(images_dir))

13718

### Reformat the dataframe

In [290]:
del df['user.id']

In [291]:
# df = df.set_index('image')
df = df.drop([0,1,2,3])

In [292]:
df['emotion'] = df['emotion'].str.lower()
print(df.dtypes)

image      object
emotion    object
dtype: object

In [293]:
# Create a new dataframe with correct order
example = {'image':[''],
             'emotion':['']}
new_df = pd.DataFrame(example)
# new_df = new_df.set_index('image')
new_df

  image emotion
0

In [294]:
images_dir.sort()

index = 0
for name in images_dir:
    if df['image'].str.contains(name).any():
        target = df[df['image'].str.contains(name)]
        target = target.reset_index(drop=True)
        image = target.loc[[0], 'image'].to_string().split()[1]
        emotion = target.loc[[0], 'emotion'].to_string().split()[1]
        new_df.loc[index] = [image, emotion]
        if index%1000 == 0:
            print(index)
        index += 1

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000

In [295]:
new_df

                                image    emotion
0                    AJ_Cook_0001.jpg  happiness
1                   AJ_Lamas_0001.jpg  happiness
2              Aaron_Eckhart_0001.jpg    neutral
3                Aaron_Guiel_0001.jpg  happiness
4            Aaron_Patterson_0001.jpg    neutral
5              Aaron_Peirsol_0001.jpg  happiness
6              Aaron_Peirsol_0002.jpg  happiness
7              Aaron_Peirsol_0003.jpg  happiness
8              Aaron_Peirsol_0004.jpg    neutral
9                 Aaron_Pena_0001.jpg    neutral
10              Aaron_Sorkin_0001.jpg  happiness
11              Aaron_Sorkin_0002.jpg  happiness
12              Aaron_Tippin_0001.jpg    neutral
13                 Abba_Eban_0001.jpg  happiness
14          Abbas_Kiarostami_0001.jpg    neutral
15       Abdel_Aziz_Al-Hakim_0001.jpg    neutral
16        Abdel_Madi_Shabneh_0001.jpg    neutral
17       Abdel_Nasser_Assidi_0001.jpg    neutral
18       Abdel_Nasser_Assidi_0002.jpg    neutral
19            Abdoulaye_Wade_0001.jpg    neutral
20            Abdoulaye_Wade_0002.jpg  happiness
21            Abdoulaye_Wade_0003.jpg    neutral
22            Abdoulaye_Wade_0004.jpg  happiness
23              Abdul_Rahman_0001.jpg    neutral
24         Abdulaziz_Kamilov_0001.jpg    neutral
25                  Abdullah_0001.jpg    neutral
26                  Abdullah_0002.jpg    neutral
27                  Abdullah_0003.jpg    neutral
28                  Abdullah_0004.jpg    neutral
29     Abdullah_Ahmad_Badawi_0001.jpg  happiness
...                               ...        ...
13648          Zhong_Nanshan_0001.jpg    neutral
13649             Zhu_Rongji_0001.jpg  happiness
13650             Zhu_Rongji_0002.jpg    neutral
13651             Zhu_Rongji_0003.jpg  happiness
13652             Zhu_Rongji_0004.jpg    neutral
13653             Zhu_Rongji_0005.jpg   surprise
13654             Zhu_Rongji_0006.jpg    neutral
13655             Zhu_Rongji_0007.jpg    neutral
13656             Zhu_Rongji_0008.jpg  happiness
13657             Zhu_Rongji_0009.jpg  happiness
13658                   Zico_0001.jpg  happiness
13659                   Zico_0002.jpg  happiness
13660                   Zico_0003.jpg  happiness
13661        Zinedine_Zidane_0001.jpg  happiness
13662        Zinedine_Zidane_0002.jpg    neutral
13663        Zinedine_Zidane_0003.jpg    neutral
13664        Zinedine_Zidane_0004.jpg  happiness
13665        Zinedine_Zidane_0005.jpg    neutral
13666        Zinedine_Zidane_0006.jpg    neutral
13667              Ziwang_Xu_0001.jpg  happiness
13668               Zoe_Ball_0001.jpg  happiness
13669         Zoran_Djindjic_0001.jpg    neutral
13670         Zoran_Djindjic_0002.jpg    neutral
13671         Zoran_Djindjic_0003.jpg    neutral
13672         Zoran_Djindjic_0004.jpg  happiness
13673         Zorica_Radovic_0001.jpg    neutral
13674         Zulfiqar_Ahmed_0001.jpg    neutral
13675           Zumrati_Juma_0001.jpg    neutral
13676        Zurab_Tsereteli_0001.jpg  happiness
13677     Zydrunas_Ilgauskas_0001.jpg    neutral

[13678 rows x 2 columns]

In [235]:
print(images_dir[0])
print(df['image'].str.contains(images_dir[0]).any())
target = df[df['image'].str.contains(images_dir[0])]
target = target.reset_index(drop=True)
target.loc[[0], 'image'].to_string().split()[1]

AJ_Cook_0001.jpg
True

'AJ_Cook_0001.jpg'

In [296]:
new_df.to_csv('ordered_labels.csv')

In [297]:
exclude_image_list = []

for name in images_dir:
    if not new_df['image'].str.contains(name).any():
        exclude_image_list.append(name)

In [298]:
exclude_image_list

['Abdul_Majeed_Shobokshi_0001.jpg',
 'Arsinee_Khanjian_0001.jpg',
 'Colin_Montgomerie_0004.jpg',
 'Colin_Powell_0048.jpg',
 'David_McCullough_0001.jpg',
 'Donald_Rumsfeld_0117.jpg',
 'Fernando_Vargas_0004.jpg',
 'Franz_Muentefering_0003.jpg',
 'George_HW_Bush_0003.jpg',
 'George_Pataki_0002.jpg',
 'Hans_Blix_0016.jpg',
 'Isaiah_Washington_0002.jpg',
 'Jeff_Feldman_0001.jpg',
 'Jiang_Zemin_0002.jpg',
 'Jiang_Zemin_0007.jpg',
 'Joe_Vandever_0001.jpg',
 'John_Wright_0001.jpg',
 'Luciano_Pavarotti_0002.jpg',
 'Lynne_Thigpen_0001.jpg',
 'Michael_Powell_0003.jpg',
 'Miguel_Contreras_0001.jpg',
 'Morgan_Freeman_0002.jpg',
 'Padraig_Harrington_0004.jpg',
 'Paul_Bremer_0014.jpg',
 'Pedro_Malan_0003.jpg',
 'Pierce_Brosnan_0007.jpg',
 'Pyar_Jung_Thapa_0001.jpg',
 'Richard_Gephardt_0007.jpg',
 'Rob_Moore_0001.jpg',
 'Robert_Horan_0002.jpg',
 'Robert_Zoellick_0005.jpg',
 'Scott_McNealy_0001.jpg',
 'Thomas_Daily_0001.jpg',
 'Tony_Blair_0090.jpg',
 'Will_Ferrell_0001.jpg',
 'William_Bulger_0002.jpg',
 'facial-expressions_2868582k.jpg',
 'facial-expressions_2868584k.jpg',
 'facial-expressions_2868585k.jpg',
 'facial-expressions_2868588k.jpg']

In [299]:
len(exclude_image_list)

40

In [300]:

for name in exclude_image_list:
    path = image_file + "/" + name
    os.system('rm '+path)

In [304]:
images_dir_update = os.listdir(image_file)  
print(len(images_dir_update))

13678

In [326]:
# check whether is equally paired
image_names = np.array(new_df['image'])
print(len(image_names) == len(images_dir_update))
images_dir_update.sort()

# print(image_names[0], images_dir_update[0])
isEqual = True
for i in range(len(images_dir_update)):
    if image_names[i] != images_dir_update[i]:
        print(i)
        print(image_names[i], images_dir_update[i])
        img=Image.open(image_file + "/" + images_dir_update[i])
        img.show()
        isEqual = False
print(isEqual)

True
11652
Raghad_Saddam_Hussein_0001.jpg Saddam_Hussein_0001.jpg
11653
Raghad_Saddam_Hussein_0002.jpg Saddam_Hussein_0002.jpg
False

**Manually change Raghad_Saddam_Hussein_0001.jpg into Saddam_Hussein_0001.jpg, Raghad_Saddam_Hussein_0002.jpg Saddam_Hussein_0002.jpg, in the ordered_labels.csv **

In [327]:
updated_df = pd.read_csv('ordered_labels.csv')
image_names = np.array(updated_df['image'])
print(len(image_names) == len(images_dir_update))

# print(image_names[0], images_dir_update[0])
isEqual = True
for i in range(len(images_dir_update)):
    if image_names[i] != images_dir_update[i]:
        print(i)
        print(image_names[i], images_dir_update[i])
        img=Image.open(image_file + "/" + images_dir_update[i])
        img.show()
        isEqual = False
print(isEqual)

True
True